body {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: $text;
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  text-decoration: none;
}

.link__recall {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: $orange;
  border-bottom: 1px dashed $orange;
  transition: all 0.2s linear;
  font-family: "StolzlDisplay";
  letter-spacing: 1px;

  &:hover {
    border-color: transparent;
  }
}

.noscroll {
  overflow: hidden;
}

.go__over {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid $orange;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "EuropeExt";
  text-decoration: none;
  color: $orange;
  transition: all 0.2s linear;
  cursor: pointer;

  &:hover {
    background: $orange;
    color: #fff;
  }

  &--invert {
    background: $orange;
    color: #fff;

    &:hover {
      color: $orange;
      background: transparent;
    }
  }
}

.input__item {
  width: 100%;
  height: fit-content;
  position: relative;
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 0;
  }

  &--name {
    .input__icon {
      background: url("../images/dest/icons/input__name.svg") no-repeat center;
    }

    &:hover,
    &:focus {
      .input__icon {
        background: url("../images/dest/icons/input__name--active.svg")
          no-repeat center;
      }
    }
  }

  &--phone {
    .input__icon {
      background: url("../images/dest/icons/input__phone.svg") no-repeat center;
    }

    &:hover,
    &:focus {
      .input__icon {
        background: url("../images/dest/icons/input__phone--active.svg")
          no-repeat center;
      }
    }
  }

  &--email {
    .input__icon {
      background: url("../images/dest/icons/input__email.svg") no-repeat center;
    }

    &:hover,
    &:focus {
      .input__icon {
        background: url("../images/dest/icons/input__email--active.svg")
          no-repeat center;
      }
    }
  }

  &--textarea {
    .input__icon {
      top: 39px;
      background: url("../images/dest/icons/input__message.svg") no-repeat
        center;
    }

    &:hover,
    &:focus {
      .input__icon {
        background: url("../images/dest/icons/input__message--active.svg")
          no-repeat center;
      }
    }
  }
}

.input {
  height: 70px;
  width: 100%;
  padding-left: 70px;
  padding-right: 10px;
  font-size: 16px;
  font-family: "Montserrat";
  color: $text;
  border: none;

  &::placeholder {
    font-size: 16px;
    font-family: "Montserrat";
    color: #a3a3a3;
  }

  &--textarea {
    height: 249px;
    resize: none;
    padding-top: 30px;
  }
}

.input__icon {
  display: inline-block;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translate(0, -50%);
  width: 22px;
  height: 122px;
  transition: all 0.2s linear;
}

.input__wrapper {
  width: 98px;
  position: relative;
  text-align: center;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-icon-wrapper {
  height: 27px;
  width: 27px;
  transition: all 0.2s linear;
}

.input__file-button-text {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translate(-50%);
}

.input__file-button {
  height: 98px;
  width: 98px;
  min-height: 98px;
  min-width: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #c1c1c1;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    background: #adadad;
  }
}

.mask {
  background: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  display: none;
}

@media (max-width: $tablet) {
  .logo {
    max-width: 220px;
  }
}

@media (max-width: $mobile) {
  .logo {
    max-width: 70%;
  }
}
