.company {
  background: url("../../images/dest/company__bg__simple.png") left;
  background-size: cover;
  width: 100%;

  .container {
    padding: 120px 0;
    position: relative;
    z-index: 2;
  }
}

.company__head {
  padding-left: 510px;
  margin-bottom: 70px;
}

.company__head__wrapper {
  max-width: 550px;
  position: relative;
  z-index: 3;
}

.company__title {
  font-size: 44px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-family: "EuropeExt";
  margin-bottom: 40px;
}

.company__description {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.company__bg {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 595px;
}

.company__bg__wrapper {
  position: relative;
  z-index: 2;
}

.company__bg__link {
  position: absolute;
  top: 133px;
  left: 260px;
  transition: all 0.2s linear;

  &:hover {
    opacity: 0.7;
  }
}

.company__bg__line {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: -1;
}

.company__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company__item {
  text-align: center;
}

.company__item__title {
  text-transform: uppercase;
  font-weight: bold;
  color: $orange;
  font-size: 44px;
  line-height: 1;
  font-family: "EuropeExt";
  margin-bottom: 15px;
}

.company__item__description {
  color: #fff;
  font-size: 16px;
  line-height: 1;
}

.company__line {
  display: inline-block;
  width: 1px;
  min-width: 1px;
  height: 30px;
  background: #fff;
}

@media (max-width: $tablet) {
  .company__head {
    padding-left: 380px;
  }
}

@media (max-width: $mobile) {
  .company {
    .container {
      padding: 60px 15px;
    }
  }

  .company__head {
    padding-left: 0;
    margin-bottom: 40px;
  }

  .company__title {
    font-size: 24px;
  }

  .company__body {
    flex-wrap: wrap;
  }

  .company__line {
    display: none;
  }

  .company__item {
    margin-bottom: 40px;
    width: 50%;
  }

  .company__item__title {
    font-size: 24px;
  }

  .company__bg__line {
    display: none;
  }

  .company__bg {
    position: static;
    margin: 0 auto;
  }

  .company__bg__link {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
