.portfolio__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &--hide {
    display: none;
  }
}

.portfolio__hide__wrapper {
  display: none;
}

.portfolio__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 1424px;

  &--twice {
    justify-content: flex-start;
  }
}

.portfolio__col__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .portfolio__col {
    justify-content: flex-start;
    height: auto;
  }
}

.portfolio__item {
  display: inline-block;
  position: relative;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  transition: all 0.5s linear;

  &--special {
    .portfolio__title {
      color: #fff;
    }
  }

  &--more {
    height: 310px;
    width: 258px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--mobile {
    display: none;
  }

  &--hide {
    display: none;
  }

  &:hover {
    transform: translateY(-2px);
    .portfolio__title {
      color: $orange;
      border-color: $orange;
    }
  }
}

.portfolio__title {
  position: absolute;
  z-index: 2;
  top: 55px;
  left: 50%;
  transform: translate(-50%);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "EuropeExt";
  color: $text;
  border-bottom: 1px solid transparent;
  transition: all 0.2s linear;
  white-space: nowrap;
  text-align: center;
  line-height: 30px;
}

.portfolio__img {
  display: block;
}

.portfolio__more {
  height: 200px;
  width: 200px;
}

@media (max-width: $tablet) {
  .portfolio__img {
    width: 240px;
    display: block;
  }

  .portfolio__col {
    height: 930px;
  }

  .portfolio__title {
    top: 30px;
    font-size: 16px;
  }
}

@media (max-width: $mobile) {
  .portfolio__inner {
    flex-direction: column;
  }

  .portfolio__col {
    height: auto;
    align-items: center;
    width: 100%;
  }

  .portfolio__item {
    margin-bottom: 15px;

    &--desktop {
      display: none;
    }

    &--mobile {
      display: flex;
    }
  }

  .portfolio__img {
    width: 320px;
  }

  .portfolio__col__wrapper {
    flex-direction: column;
  }
}
