.question {
  padding-bottom: 160px;
}

.question__title {
  font-size: 44px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "EuropeExt";
  margin-bottom: 55px;
  text-align: center;
}

.question__form {
  width: 100%;
}

.question__inner {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.question__col {
  width: 100%;

  &--left {
    max-width: 364px;
  }

  &--right {
    position: relative;
    max-width: 786px;
  }
}

.question__form__text {
  margin-top: 19px;
  color: #979797;
  font-size: 13px;

  a {
    display: inline-block;
    text-decoration: none;
    color: #777777;
    border-bottom: 1px dashed #777777;
    transition: all 0.2s linear;
    font-weight: 600;

    &:hover {
      border-color: transparent;
    }
  }
}

.question__submit {
  position: absolute;
  right: 42px;
  bottom: -25px;
  z-index: 2;
}

@media (max-width: $tablet) {
  .question__col {
    &--left {
      max-width: 33%;
    }

    &--right {
      position: relative;
      max-width: 65%;
    }
  }
}

@media (max-width: $mobile) {
  .question {
    padding-bottom: 60px;
  }

  .question__title {
    font-size: 24px;
  }

  .question__inner {
    flex-direction: column;
  }

  .question__col {
    &--left {
      max-width: 100%;
      margin-bottom: 19px;
    }

    &--right {
      max-width: 100%;
    }
  }

  .question__form__text {
    text-align: center;
  }

  .question__submit {
    position: static;
    margin: 0 auto;
    margin-top: 20px;
  }
}
