.why {
  padding: 120px 0;
  background: #f3f3f3;
}

.why__title {
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "EuropeExt";
  margin-bottom: 55px;
  color: #000;
}

.why__item {
  padding: 45px 0;
  border-bottom: 1px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:first-child {
    border-top: 1px solid #dadada;
  }
}

.why__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.why__icon {
  margin-right: 20px;
}

.why__inner__title {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  font-family: "EuropeExt";
}

.why__arrow {
  transform: rotate(-180deg);
}

.why__description {
  width: 675px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;

  span {
    font-weight: 400;
    color: #bcbcbc;
  }
}

@media (max-width: $tablet) {
}

@media (max-width: $mobile) {
  .why {
    padding: 60px 0;
  }

  .why__title {
    font-size: 24px;
  }

  .why__item {
    flex-direction: column;
    padding: 20px 0;
  }

  .why__left {
    margin-bottom: 15px;
  }

  .why__arrow {
    display: none;
  }

  .why__description {
    width: 100%;
    text-align: center;
  }
}
